* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* [main text] font-family: 'Figtree', sans-serif;
[highlight text + small heading] font-family: 'Lexend Deca', sans-serif;
font-family: 'Marcellus SC', serif; [title]*/