* {
    box-sizing: border-box;
}
html {
    cursor: url(images/cursor.png), auto;
}
body {
    cursor: url(images/cursor.png), auto;
    background-image: url(images/wiibg.png);
    background-size: auto 100vh;
    background-position: center top;
    overflow: hidden;
}

/**ksdfkdsbfsdfb { 
    cursor: url(images/pointer.png), auto;
}
**/

.clock {
    position: relative;
    margin: auto;
    width: 20%;
    margin: auto 40% auto 40%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    padding: 5% 5% 5% 5%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2; 
    background-image: url(images/static.png), url(images/Cityfolkbox.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
    cursor: url(images/pointer.png), auto;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(images/static.png), url(images/mc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
    cursor: url(images/pointer.png), auto;
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-image: url(images/static.png), url(images/cmoc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
    cursor: url(images/pointer.png), auto;
}
.div4 { 
    grid-area: 1 / 4 / 2 / 5; 
    background-image: url(images/static.png), url(images/wsc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
    cursor: url(images/pointer.png), auto;
}
.div5 { 
    grid-area: 2 / 1 / 3 / 2; 
    background-image: url(images/static.png), url(images/ezgif.com-resize.gif);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
}
.div6 { grid-area: 2 / 2 / 3 / 3; 
    background-image: url(images/static.png), url(images/3272845-len2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;}
.div7 { grid-area: 2 / 3 / 3 / 4; 
    background-image: url(images/static.png), url(images/empty.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center;
    overflow: hidden;}
.div8 { grid-area: 2 / 4 / 3 / 5; 
    background-image: url(images/static.png), url(images/empty.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center;
    overflow: hidden;}
.div9 { grid-area: 3 / 1 / 4 / 2; 
    background-image: url(images/static.png), url(images/empty.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center;
    overflow: hidden;}
.div10 { grid-area: 3 / 2 / 4 / 3; 
    background-image: url(images/static.png), url(images/empty.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center;
    overflow: hidden;}
.div11 { grid-area: 3 / 3 / 4 / 4; 
    background-image: url(images/static.png), url(images/empty.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center;
    overflow: hidden;}
.div12 { grid-area: 3 / 4 / 4 / 5; 
    background-image: url(images/static.png), url(images/empty.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 18vh;
    width: 20vw;
    border-radius: 40px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center;
    overflow: hidden;}
.div13 { grid-area: 4 / 1 / 5 / 5; }

a {
    cursor: url(images/pointer.png), auto;
}

#text body {
    background-image: url(images/mb\ bg.png);
    background-size: contain;
    background-repeat: repeat-x;
    font-family: "fot-rodin-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.messageboard {
   background-image: url(images/letter.png);
   position: relative;
   width: 75vw;
   font-family: "fot-rodin-pron", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 30px;
   background-repeat: no-repeat;
   background-size: auto 100%;
   padding: 200px 75px;
   margin: 5vh auto;
}

.messageboard #text{
    color:rgba(0, 0, 0, 0);
   z-index:9;
}

.insidemb {
   width: 60vw;
   height: 60vh;
   font-family: "fot-rodin-pron", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 30px;
   margin: 10% 10% 20% 20%;
   z-index: 998;
   overflow: scroll;
   position:absolute;
}

.envelope {
    width: 15vw;
    margin: 75vh auto auto 75vw;
    position: absolute;
    z-index: 999;
}

.header {
    display: none;
}
@media screen and (max-width: 650px) {
body {
    cursor: auto;
    background-image: url(images/grid.png);
    background-size: auto 100vh;
    background-repeat: repeat;
    overflow: hidden;
}
.parent {
    display: flex;
    height: 50vh;
    width: 100vw;
    padding: 5% 5% 5% 5%;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -20%;
}
.div5 {
    opacity: 0;
}
.div6 {
    opacity: 0;
}
.div7 {
    opacity: 0;
}
.div8 {
    opacity: 0;
}
.div9 {
    opacity: 0;
}
.div10 {
    opacity: 0;
}
.div11 {
    opacity: 0;
}
.div12 {
    opacity: 0;
}
.clock {
    position: absolute;
    width: 40%;
    margin: -115vh -40vw;
}

.div1 {
    background-image: url(images/static.png), url(images/Cityfolkbox.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 10vh;
    width: 80vw;
    border-radius: 0px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;   
}
.div2 {
    background-image: url(images/static.png), url(images/mc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 10vh;
    width: 80vw;
    border-radius: 0px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-image: url(images/static.png), url(images/cmoc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 10vh;
    width: 40vw;
    border-radius: 0px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
}
.div4 { 
    grid-area: 1 / 4 / 2 / 5; 
    background-image: url(images/static.png), url(images/wsc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 10vh;
    width: 40vw;
    border-radius: 0px;
    border: 5px solid rgb(74, 74, 74);
    background-position: center top;
    overflow: hidden;
}

.header {
    font-family: 'Nintendo DS BIOS', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(199, 62, 241);
    width: 100%;
    height: 50px;
    opacity: 1;
    position: fixed;
    top: 0px;
    padding: 10px 10px 20px 20px;
    display: block;
}
.messageboard {
    background-image: url(images/DS-Pictochat-Chat-1.png);
    position: relative;
    width: 100vw;
    font-family: "fot-rodin-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 200px 75px;
    margin: 5vh auto;
 }
 .insidemb {
    width: 80vw;
    height: 40vh;
    font-family: 'Nintendo DS BIOS', sans-serif;
    font-size: 30px;
    margin: 45% 10% 20% 12%;
    z-index: 998;
    overflow: scroll;
    position:absolute;
 }
}