* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-image: url(images/background.png);
    background-size: auto 120vh;
    background-position: center top;
    overflow: hidden;
    z-index: 100;
}

#header {
    position:absolute;
    margin:auto;
    left: 10vw;
    right: 10vw;
    top: 20vh;
    z-index: 600;
}

.curtains {
    position: absolute;
    width: 100vw;
    top:0px;
    z-index: 400;
}

.left {
    position: absolute;
    height: 100%;
    left: 0px;
    z-index: 150;
}

.right {
    position: absolute;
    height: 100%;
    right: 0px;
    z-index: 150;
}

.miku {
    position: absolute;
    height: 75vh;
    bottom: 0px;
    right: 0px;
    z-index: 200;
}

div.buttontd {
    background-color: rgb(234, 203, 136);
    font-size: 32px;
    text-transform: uppercase;
    border-radius: 5px;
    display: block;
    width: 500px;
    margin: 60vh auto;
    text-align: center;
    box-shadow: 5px 5px rgb(212, 149, 12);
    color: rgb(138, 99, 15);
    font-family: 'BioRhyme', serif;
    padding: 15px 25px;
    z-index: 500;
    position: relative;
}

div.buttontd:hover {
    color:rgb(65, 46, 7);
    transform: translate(4px, 4px);
    box-shadow: 1px 1px rgb(212,149,12);
}

.links {
    position: absolute;
    margin: 30vh 20% auto 20%;
    font-family: 'BioRhyme', serif;
    font-size: 32px;
    color:white;
    background-color: rgba(138,99,15, 0.3);
    position: absolute;
    width: 60%;
    z-index: 150;
    text-decoration: none;
    border-radius: 10px;
}

div.button {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    z-index: 150;
    padding-left: 20px;
    text-shadow: 0 0 30px #fff, 0 0 40px rgb(212, 149, 12)
}

a.button {
    left: 2vw;
    position: relative;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.star {
    background-image: url(images/star.png);
    background-repeat: none;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    animation-name: comet;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 399;
}

@keyframes comet {
    0% {right:0; top:0;}
    75% {left:80%; top:75%;}
    100% {bottom:0; left:0;}
}