* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#full {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

body {
    background-image: url(images/wp11868901.jpg);
    background-size: cover;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.boxalpha {
    width: 20vw;
    position: absolute;
    background-image: url(images/Windows-XP-Notepad-nintendofan12s-fun-stuff-37299085-688-417.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 30px 30px 60px;
    top: 100px;
    left: 55vw;
}
.box1 {
    width: 27vw;
    position: relative;
    background-image: url(images/Windows-XP-Notepad-nintendofan12s-fun-stuff-37299085-688-417.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 30px 30px 20px;
    top: 15vh;
    left: 15vw;
}

.box2 {
    width: 22vw;
    position: relative;
    background-image: url(images/Windows-XP-Notepad-nintendofan12s-fun-stuff-37299085-688-417.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 30px 30px 20px;
    top: 150px;
    left: 55vw;
}

.box3 {
    width: 39vw;
    position: absolute;
    background-image: url(images/Windows-XP-Notepad-nintendofan12s-fun-stuff-37299085-688-417.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 30px 30px 20px;
    top: 70vh;
    left: 55vw;
}

.paint1 {
    width: 27vw;
    position: absolute;
    background-image: url(images/40778b3e41fb7858621473ba17645f44.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 63px 10px 80px 80px;
    top: 15vh;
    right: 0px;
}

.paint2 {
    width: 34vw;
    position: absolute;
    background-image: url(images/40778b3e41fb7858621473ba17645f44.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px 60px 60px 50px;
    top: 70vh;
    left: 25vw;
}

.footer {
    background-image: url(images/Windows-XP-Desktop-Transparent-1-nintendofan12s-fun-stuff-40247176-1366-768.png);
    background-size: cover;
    position: fixed;
    bottom:0px;
    left: 0px;
    width: 100%;
}

#test {
    color:rgba(240, 248, 255, 0);
}

.mochi {
    top: 25px;
    left: 25px;
    position: absolute;
    color: white;
    text-align: center;
}

.shake {
    top: 175px;
    left: 30px;
    position: absolute;
    color: white;
    text-align: center;
}
/*.footer {
    position: fixed;
    background-image: url(images/Windows-XP-Desktop-Transparent-1-nintendofan12s-fun-stuff-40247176-1366-768.png);
    background-size: cover;
    bottom: 0;
    left: 0;
}*/
